<!DOCTYPE html>
<html>

<head>
    <title>Save The Children</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div id="feed_content"></div>
</body>

<script>
    setInterval(run_search, 8000);
    function run_search() {
        var text = 'US';
        $.ajax({
            url: "/feed",
            type: "get",
            data: { search: text },
            success: function (response) {
                $("#feed_content").html(response);
            }
        });
    }
</script>

</html>