<!DOCTYPE html>
<html>

<head>
    <title>Save The Children</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

    <div class="header">
        <img src="../static/images/SCA-Logo-from-guidelines.jpg" alt="logo" width="400" height="100">
    </div>
    <div class="twitter-feed">
        Twitter Feed
        <div id="feed_content"></div>
    </div>
</body>

<script>
    setInterval(run_search, 8000);
    function run_search() {
        $.ajax({
            url: "/feed",
            type: "get",
            success: function (response) {
                $("#feed_content").html(response);
            }
        });
    }
</script>

</html>